<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="manifest" href="/manifest.json">
  <title>SisGO</title>
</head>

<body>
  <div id="app">
    <principal></principal>
  </div>
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/semantic/semantic.min.js"></script>
  <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
</body>

</html>